* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #1b3678, #47145a);
  padding-top: 10px;
}

.container {
  background-color: white;
  width: 100%;
  max-width: 500px;
  margin: 100px auto 20px;
  padding: 20px;
  border-radius: 10px;
}

.container .header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .input-area {
  margin-top: 10px;
  position: relative;
}

.input-area input {
  background-color: #eaedee;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 40px;
  width: 100%;
  z-index: -1;
}

.input-area button {
  background-color: #ff6441;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  z-index: 99;
}

.input-area button:hover {
  background-color: #8f3825;
}

ul li {
  position: relative;
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 10px 0;
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
}

ul li.checked {
  text-decoration: line-through;
  color: rgb(132, 128, 128);
}

ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
}

ul li.checked::before {
  background-image: url(checked.png);
}

ul li span {
  position: absolute;
  right: 10px;
  top: 2px;
  display: inline;
}

ul li span:hover {
    color: red;
}
