* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #212121;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 25%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  border-radius: 20px;
}

.input-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.input-section a {
  background-color: white;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
}

.input-section #search-btn {
  position: absolute;
  top: 6px;
  left: 6px;
}

.input-section a:hover #search-btn {
  color: red;
}
.input-section input {
  padding: 10px;
  border-radius: 15px;
  border-style: none;
}

.describe {
    margin-top: 20px;
    text-align: center;
}


.describe h1 {
    font-size: 40px;
    margin: 10px 0;
    color: white;
    text-shadow: 0px 0px 4px #000000;
}


.describe h2 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 900;
    color: white;
    text-shadow: 0px 0px 4px #000000;
}

.detail {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.detail .humidity {
    text-align: center;
}
.detail .humidity h5 {
    margin-top: 5px;
}

.detail .humidity-detail {
    display: flex;
    align-items: center;
}
.detail .wind-speed {
    text-align: center;
}

.detail .wind-speed h5 {
    margin-top: 5px;
}
.detail .wind-speed-detail {
    display: flex;
    align-items: center;

}




